/////////////////////////////////////////////////
// variables
/////////////////////////////////////////////////

$breakpointMobile: 720px;

%test {
    border: 1px solid black;
}

/////////////////////////////////////////////////
// colors
/////////////////////////////////////////////////
$bg-nav:        rgba(0, 255, 0, 0.5);
$bg-heading:    rgba(200, 255, 200, 0.75);
$bg-footer:     rgba(50,100,50,0.75);
$bg-link:       rgba(200,255,200,0.5);

$whiteOverlay:  rgba(255,255,255,0.5);
$subtleBorder: 0px 1px 4px 0px rgba(0,0,0,0.3);

/////////////////////////////////////////////////
// over-ride defaults
/////////////////////////////////////////////////
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', 'sans serif';
}

html {
    overflow-x: hidden; 
}

/////////////////////////////////////////////////
// define grid area names
/////////////////////////////////////////////////
.about.intro        {grid-area: abou;}
.portfolio.intro    {grid-area: port;}
.skills.intro       {grid-area: skil;}

.about.more         {grid-area: abom;}
.portfolio.more     {grid-area: porm;}
.skills.more        {grid-area: skim;}

footer              {grid-area: foot;}

/////////////////////////////////////////////////
// mobile (default) grid layout
/////////////////////////////////////////////////

::selection {
    color: #fff;
    background-color: #0c0;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 1);
}

p {
    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        background-color: $bg-link;

        &:hover {
            transform: translate(0px, 4px);
            font-weight: normal;
        }

    }
}


.widepic {
    width: 100%;
    //max-width: 1200px;
    height: 100vw; //image is square, this fixes height of container
    position: relative;       
    z-index: -1; 

    img {
        width: 100vw;
    }
    canvas {
        position: relative;
        z-index: 2;
    }
    figcaption {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        color: rgba(255,255,255,0.75);
        z-index: 3;
    }    
}

header.top {
    position: fixed;
    top: -1.75vw;
    width: 100vw;
    height: 14vw;
    background-color: white;
    box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.12);
    transform: rotate(0deg);
    border-bottom: 1.8vw solid $bg-nav;
    z-index: 999;

    h1 {
        padding: 1vw;
        display: inline-block;
        margin: 0 0 0 0.5vw;
        color: #000;
        font-size: 10vw;
        transform: rotate(0deg);       
    }

    nav#top-right {
        position: absolute;
        right: 2rem;
        top: 1rem;
        user-select: none;
        img {
            position: relative;
            width: 6vw;
            margin: 4vw 0.5vw 2.5vw 3vw;
            bottom: 0.8rem;
            opacity: 25%;

            &:hover {
                opacity: 100%;
                cursor: pointer;
            }           
        }
    }

    nav#big-nav {
        display: none;
        user-select: none;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7,auto);
    grid-template-areas:
    "abou abou abou"
    "abom abom abom"
    "port port port"
    "porm porm porm"
    "skil skil skil"
    "skim skim skim"
    "foot foot foot"
    ;

    section.intro.about {
        //padding-top: 24vw;
    }

    section.intro {
        width: 100%;

        header.section {
            position: relative;
            background-color: $bg-heading;
            
            img {
                position: absolute;
                width: 2rem;
                left: 0.25rem;
                bottom: 0.25rem;
                opacity: 15%;
            }

            h2 {
                width: 100%;
                padding-left: 2.25rem;
                //margin-top: 0.5vw;
                font-size: 2rem;
                background-color: $bg-heading;
            }
        }
    
        p:first-of-type {
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin: 0.5rem 0.5rem;
        }
    
        p {
            line-height: 1.25rem;
            font-size: 1.25rem;
            margin: 0.5rem 0.5rem;
        }
    }


    section.more {
        padding: 0 0.5rem 2rem;
        h2 {
            font-size: 0.25rem;
            visibility: hidden;
        }

        img#headshot {
            width: 20vw;
            float: left;
            box-shadow: $subtleBorder;
            margin: 0.5rem 1rem 0 0;         
        }

        p {
            font-size: 1rem;
            padding: 0.25rem 0 1rem 0;;
        }

        #gallery {
            width: 450px;
            margin: 1rem auto;
            height: 250px;
            box-shadow: $subtleBorder;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .left-arrow, .right-arrow {
                font-size: 4rem;
                font-weight: 800;
                color: rgba(0,0,0,0.25);
                user-select: none;
                position: absolute;
                z-index: 3;
                cursor: pointer;
                box-shadow: $subtleBorder;
            }

            .left-arrow {left: 8vw; padding: 0 1vw 0 0;}
            .right-arrow {right: 8vw; padding: 0 0 0 1vw;}

            div {
                display: flex;
                justify-content: center;
                position: absolute;
                .label {
                    //border: 1px solid black;
                    box-shadow: $subtleBorder;
                    position: relative;
                    font-size: 2rem;
                    top: 6rem;
                    user-select: none;
                    z-index: 3;
                }
            }
            
            #portfolio-canvas {
                width: 450px;
                z-index: 2;
            }
        } 

        .project-info {
            display: flex;
            width: 100%;
            justify-content: center;
            img {
                width: 2rem;
            }
        }
    }

    section.skills.more {

        #icons {
            background-color: $whiteOverlay;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            padding-top: 0.5rem;
            box-shadow: $subtleBorder;
            margin-bottom: 1rem;

            .webdev-skills {
                img{
                    width: 2rem;
                    margin: 0 0.8rem;
                }
                .to-do {
                    opacity: 10%;
                }
            }
            
            hr {visibility: hidden;width: 100%;}

            .other-skills {
                img{
                    width: 2rem;
                    margin: 0 0.8rem;
                }               
                img.to-do {
                    opacity: 10%;
                }
            }          
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 0.5rem 0;
        width: 100%;

        p {
            font-size: 1rem;
            
            a {
                margin: 0 1rem;
            }
        }
    }
}

/////////////////////////////////////////////////
// desktop rules
/////////////////////////////////////////////////
@media (min-width: $breakpointMobile){

    header.top {
        position: fixed;
        height: 2vw;
        transform: rotate(-2deg);
        margin-left: -1vw;
        //margin-top: -2vw;
        background-image: linear-gradient(  rgba(255, 255, 255, 1), 
                                            rgba(255, 255, 255, 0.8),
                                            rgba(255, 255, 255, 0.6));


        border: none;

        h1 {
            //transform: rotate(-2deg); //added to header rotation
            margin-bottom: 0;
            padding: 0 0.5vw;
            background-color: #fff;
            width: 100%;           
        }

        nav#top-right {
            // display: none;
            img {
                width: 7vw;
            }
        }

        nav#big-nav {
            display: flex;
            justify-content: flex-end;
            background-color: rgba(0,255,0,1);
            box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.12);

            p.clock {
                justify-content: flex-end;
                padding: 0.5vw 0;
                margin: 0 3.7vw 0 0;
                font-size: 2.5vw;
            }

            ul {
                
                li {
                    display: inline;
                    padding: 1vw 0.5vw;
                    font-size: 3vw;

                    a {
                        position: relative;
                        bottom: 0.25rem;   
                        color: #000;
                        text-decoration: none;
                        opacity: 1;

                        &:hover {
                            color: #fff;
                        }
                    }
                }               
            }
        }
    }

    main {
        display: grid;
        //margin-top: 20vw;
        padding: 0 0.5vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "abou port skil"
        "abom abom abom"
        "porm porm porm"
        "skim skim skim"
        "foot foot foot"
        ;

        section.intro{

            padding: 0 2vw;

            header.section {
                margin-top: 0.5rem;
                transform: rotate(-2deg);
                transition: transform 0.2s linear;

                h2 {
                    background-color: $bg-heading;
                }
            }

            p:first-of-type {
                margin: 0.5rem 0;
                font-style: italic;
                transform: rotate(-2deg);
                transition: transform 0.4s linear;
                
            }

            p {
                margin: 0;
            }
        }

        section.more{
            padding: 1rem 1rem;

            h2 {
                font-size: 2rem;
                visibility: visible;
            }
            
            p {
                font-size: 1.25rem;
            }
        }
    }  
}