* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", "sans serif";
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.about.intro {
  grid-area: abou;
}

.portfolio.intro {
  grid-area: port;
}

.skills.intro {
  grid-area: skil;
}

.about.more {
  grid-area: abom;
}

.portfolio.more {
  grid-area: porm;
}

.skills.more {
  grid-area: skim;
}

footer {
  grid-area: foot;
}

::selection {
  color: #fff;
  background-color: #0c0;
  text-shadow: 0.1rem 0.1rem black;
}

p a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: rgba(200, 255, 200, 0.5);
}
p a:hover {
  transform: translate(0px, 4px);
  font-weight: normal;
}

.widepic {
  width: 100%;
  height: 100vw;
  position: relative;
  z-index: -1;
}
.widepic img {
  width: 100vw;
}
.widepic canvas {
  position: relative;
  z-index: 2;
}
.widepic figcaption {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  z-index: 3;
}

header.top {
  position: fixed;
  top: -1.75vw;
  width: 100vw;
  height: 14vw;
  background-color: white;
  box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.12);
  transform: rotate(0deg);
  border-bottom: 1.8vw solid rgba(0, 255, 0, 0.5);
  z-index: 999;
}
header.top h1 {
  padding: 1vw;
  display: inline-block;
  margin: 0 0 0 0.5vw;
  color: #000;
  font-size: 10vw;
  transform: rotate(0deg);
}
header.top nav#top-right {
  position: absolute;
  right: 2rem;
  top: 1rem;
  user-select: none;
}
header.top nav#top-right img {
  position: relative;
  width: 6vw;
  margin: 4vw 0.5vw 2.5vw 3vw;
  bottom: 0.8rem;
  opacity: 25%;
}
header.top nav#top-right img:hover {
  opacity: 100%;
  cursor: pointer;
}
header.top nav#big-nav {
  display: none;
  user-select: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "abou abou abou" "abom abom abom" "port port port" "porm porm porm" "skil skil skil" "skim skim skim" "foot foot foot";
}
main section.intro {
  width: 100%;
}
main section.intro header.section {
  position: relative;
  background-color: rgba(200, 255, 200, 0.75);
}
main section.intro header.section img {
  position: absolute;
  width: 2rem;
  left: 0.25rem;
  bottom: 0.25rem;
  opacity: 15%;
}
main section.intro header.section h2 {
  width: 100%;
  padding-left: 2.25rem;
  font-size: 2rem;
  background-color: rgba(200, 255, 200, 0.75);
}
main section.intro p:first-of-type {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0.5rem 0.5rem;
}
main section.intro p {
  line-height: 1.25rem;
  font-size: 1.25rem;
  margin: 0.5rem 0.5rem;
}
main section.more {
  padding: 0 0.5rem 2rem;
}
main section.more h2 {
  font-size: 0.25rem;
  visibility: hidden;
}
main section.more img#headshot {
  width: 20vw;
  float: left;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 1rem 0 0;
}
main section.more p {
  font-size: 1.25rem;
  padding: 0.25rem 0 1rem 0;
}
main section.more #gallery {
  width: 100%;
  margin: 1rem auto;
  height: 250px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.more #gallery #card.project img {
  width: 200px;
  height: 200px;
}
main section.more #gallery .left-arrow, main section.more #gallery .right-arrow {
  font-size: 4rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.25);
  user-select: none;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
main section.more #gallery .left-arrow {
  left: 8vw;
  padding: 0 1vw 0 0;
}
main section.more #gallery .right-arrow {
  right: 8vw;
  padding: 0 0 0 1vw;
}
main section.more #gallery div {
  display: flex;
  justify-content: center;
  position: absolute;
}
main section.more #gallery div .label {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 2rem;
  top: 6rem;
  user-select: none;
  z-index: 3;
}
main section.more #gallery #portfolio-canvas {
  width: 450px;
  z-index: 2;
}
main section.more .project-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.more .project-info img {
  width: 2rem;
}
main section.more .project-info div {
  padding: 0 1rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  width: 450px;
}
main section.more .project-info div h3 {
  font-size: 1.5rem;
}
main section.skills.more #iconwrap {
  display: flex;
  justify-content: center;
}
main section.skills.more #iconwrap #icons {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 0.5rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  width: 60%;
}
main section.skills.more #iconwrap #icons .webdev-skills img {
  width: 2rem;
  margin: 0 0.8rem;
}
main section.skills.more #iconwrap #icons .webdev-skills image.to-do {
  opacity: 10%;
}
main section.skills.more #iconwrap #icons hr {
  visibility: hidden;
  width: 100%;
}
main section.skills.more #iconwrap #icons .other-skills img {
  width: 2rem;
  margin: 0 0.8rem;
}
main section.skills.more #iconwrap #icons .other-skills img.to-do {
  opacity: 10%;
}
main footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 0.5rem 0;
  width: 100%;
}
main footer p {
  font-size: 1rem;
}
main footer p a {
  margin: 0 1rem;
}

@media (min-width: 720px) {
  header.top {
    position: fixed;
    height: 2vw;
    transform: rotate(-2deg);
    margin-left: -1vw;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    border: none;
  }
  header.top h1 {
    margin-bottom: 0;
    padding: 0 0.5vw;
    background-color: #fff;
    width: 100%;
  }
  header.top nav#top-right img {
    width: 7vw;
  }
  header.top nav#big-nav {
    display: flex;
    justify-content: flex-end;
    background-color: lime;
    box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.12);
  }
  header.top nav#big-nav p.clock {
    justify-content: flex-end;
    padding: 0.5vw 0;
    margin: 0 3.7vw 0 0;
    font-size: 2.5vw;
  }
  header.top nav#big-nav ul li {
    display: inline;
    padding: 1vw 0.5vw;
    font-size: 3vw;
  }
  header.top nav#big-nav ul li a {
    position: relative;
    bottom: 0.25rem;
    color: #000;
    text-decoration: none;
    opacity: 1;
  }
  header.top nav#big-nav ul li a:hover {
    color: #fff;
  }

  main {
    display: grid;
    padding: 0 0.5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "abou port skil" "abom abom abom" "porm porm porm" "skim skim skim" "foot foot foot";
  }
  main section.intro {
    padding: 0 2vw;
  }
  main section.intro header.section {
    margin-top: 0.5rem;
    transform: rotate(-2deg);
    transition: transform 0.2s linear;
  }
  main section.intro header.section h2 {
    background-color: rgba(200, 255, 200, 0.75);
  }
  main section.intro p:first-of-type {
    margin: 0.5rem 0;
    font-style: italic;
    transform: rotate(-2deg);
    transition: transform 0.4s linear;
  }
  main section.intro p {
    margin: 0;
  }
  main section.more {
    padding: 1rem 1rem;
  }
  main section.more h2 {
    font-size: 2rem;
    visibility: visible;
  }
  main section.more p {
    font-size: 1.25rem;
  }
}